STRAVA_ACCESS_TOKEN=your_strava_access_token
STRAVA_CLIENT_ID=your_strava_client_id
STRAVA_CLIENT_SECRET=your_strava_client_secret
STRAVA_REFRESH_TOKEN=your_strava_refresh_token

DB_NAME=stravagancia
DB_USER=strava
DB_PASSWORD=strava
DB_HOST=localhost
DB_PORT=5432
